aws-lambda-powertools==2.38.1
awscli==1.33.4
boto3==1.34.122
botocore==1.34.122
email_validator==2.1.1
environ==1.0
mongoengine==0.20.0
mongoengine_goodjson==1.1.8
pillow==10.3.0
pydantic==2.7.1
pydantic_core==2.18.2
pymongo==3.13.0
python-dotenv==1.0.1
PyYAML==6.0.11